#linea{
	background:black;
	width: 150px;
	height: 2px;
	margin: 0px;
}
.cuerpo{
	display: block;
	width: 710px;
	height: 500px;
}
.img1{
	color: rgba(27, 9, 83, 0.3);
	margin: 10px;
	display: inline-block;
	position: relative;
}
.nombre{
	position: absolute;
	color: white;
	bottom: 0px;
	right: 0px;
}
img{
	opacity: 1;
	filter: 1;
}
img:hover{
	opacity: 0.5;
	filter: 1;
}
